@use "app/(pages)/_globals/mixins";

.searchcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--small-spacer);
    @include mixins.tablet {
        justify-items: center;
        align-items: center;
    }
}

.searchbar {
    display: flex;
    flex-direction: column;
    gap: var(--tiny-spacer)/2;
    margin-bottom: 2%;
}

.search {
    border-radius: var(--button-radius);
    border: 1px solid var(--search-bar);
    background-color: var(--search-bar);
    padding: var(--tiny-spacer);
    margin-top: 1%;
    width: 625px;
    height: 32px;
    font-size: 0.9em;
    @include mixins.tablet {
        width: 100%;
    }
}

.graduationcontainer{
    display: flex;
    flex-direction: column;
    gap: var(--tiny-spacer)/2;
    @include mixins.tablet {
        justify-content: center;
        align-items: center;
    }
}

.graduation{
    border-radius: var(--button-radius);
    border: 1px solid var(--black);
    font-size: 0.9em;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 40px;
    width: 100px;
    padding: var(--tiny-spacer);
}

.tagcontainer {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--tiny-spacer);
    @include mixins.tablet {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
}

.tag {
    border-radius: var(--b-radius);
    border: 1px solid var(--blue);
    color: var(--blue);
    display: flex;
    flex-direction: row;
    gap: var(--tiny-spacer);
    padding: var(--tiny-spacer);
    align-items: center;
}

.clear {
    border-radius: var(--b-radius);
    border: 1px solid var(--blue);
    color: var(--light-background);
    background-color: var(--blue);
    cursor: pointer;
    padding: var(--tiny-spacer) var(--small-spacer);
}

.exit{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.resultcontainer{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination ul{
    margin-top: 4%;
    margin-bottom: 2%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--black);
    padding: 8px;
    border-radius: var(--b-radius);
  }
  .pagination ul li{
    color: var(--blue);
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  .pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
  }
  .pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots{
    font-size: 22px;
    cursor: default;
  }
  .pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
  }
  .pagination li.active,
  .pagination ul li.numb:hover,
  .pagination ul li:first-child:hover,
  .pagination ul li:last-child:hover{
    color: var(--light-background);
    background: var(--blue);
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--small-spacer);
    align-items: center;
}

.error{
    margin-top: 1%;
    color: red;
}

.button {
    border-radius: var(--b-radius);
    border: 1px solid var(--blue);
    color: var(--light-background);
    background-color: var(--blue);
    cursor: pointer;
    padding: var(--small-spacer);
    height: 100%;
    font-size: 0.9em;
}

.lightblue {
    background-color: var(--light-blue);
    color: var(--black);
    width: fit-content;
    padding: var(--spacer) var(--small-spacer);
    gap: var(--tiny-spacer);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    border: solid 1px var(--black);
    width: 900px;
    @include mixins.tablet {
        width: 300px;
    }
}

.contentcontainer{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--small-spacer);
    gap: var(--tiny-spacer);
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    gap: var(--tiny-spacer);
}

.intel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mixins.tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.intelcolumn{
    display: flex;
    flex-direction: column;
    gap: var(--tiny-spacer);
}

.bold{
    font-weight: 700;
}

.line {
    background-color: var(--black);
    height: 1px;
    width: 100%; 
    margin-bottom: 1%;
}